.app-sidebar {
  width: 80px;
  background-color: #252627;
  border-right: 1px solid #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
  z-index: 5;
}

.tool-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: #a0a0a0;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.2s;
  gap: 5px;
}

.tool-item span {
  font-size: 0.7rem;
}

.tool-item:hover,
.tool-item.active {
  background-color: #333;
  color: #fff;
}
