.app-workspace {
  flex: 1;
  background-color: #1e1e1e; /* Darker background for contrast */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  position: relative;
  background-image: linear-gradient(45deg, #18191a 25%, transparent 25%),
    linear-gradient(-45deg, #18191a 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #18191a 75%),
    linear-gradient(-45deg, transparent 75%, #18191a 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.canvas-wrapper {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background: white;
  width: 800px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Fixes absolute positioning for children like FAB */
}

.canvas-placeholder {
  color: #333;
}
